section.page1 {
  text-align: center;
  background-image: url(../web-backgrounds/sayagata-400px.png);
}

section.page1 h1 {
  font-weight: 400;
}

section.page1 h2 {
  font-size: 32px;
  font-weight: 400;
}

img.poke-lpg {
  display: block;
  margin: auto;
  width: auto;
  height: 100%;
}

div.landing-page {
  width: 100%;
  height: 70vh;
}

