.blue1 {
  background-color: #122C34;
}
.blue1 p {
  color: #FFFFFF;
}

.blue2 {
  background-color: #224870;
}

.blue2 p {
  color: #FFFFFF;
}

.blue3 {
  background-color: #0084BA;
}

.blue4 {
  background-color: #D0E8F2;
}

.blue5 {
  background-color: #FFFFFF;
}

.purple {
  background-color: #1B1A19;
}

.center {
  text-align: center;
}
footer {
  text-align: center;
  padding: 10px 0;

}

.white-text {
  color: #FFFFFF;
}

.landing-page h1 {
  font-weight: 500;
}

.cover {
  width: 100%;
  height: 75vh;
  box-sizing: border-box;
}

.layer {
  background: rgba(27, 26, 37, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-title {
  margin-left: 40%;
  color: #FFFFFF;
}

.content {
  width: 100%;
  box-sizing: border-box;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #D0E8F2;
    width: 80%;
}

.content-bottom {
  background-image: url(../images/vectorbottom.jpg);
  background-size: 75%;
  background-position: bottom;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 1.75rem;
}

h1.pjx-title {
  text-align: center;
  color: #224870;
  font-weight: 400;
}

.projects {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.justify {
  text-align: justify;
}

h2.poke {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

.section {
  height: 50vh;
}

div.profile {
  display: inline-block;
  width: 75%;
  height: auto;
  border-radius: 50%;
  background-color: #1B1A19;
  box-shadow: 5px 12px 10px 0px rgba(0, 0, 0, .4);
}

.resume {
  text-align: center;
  width: 100%;
  height: 20vh;
}

div.contact-icons {
  text-align: center;
  padding-top: 2%;
}

div.contact-icons a {
  margin: 2%;
}

a.download {
  margin: 5px;
  border: 1px solid;
  padding: 5px 30px 5px 30px;
  font-size: 32px;
  font-weight: 200;
  color: #00B6FF;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
a.download:hover {
  color: #0084BA;
}

.profile-picture {
  border-radius: 50%;
  vertical-align: middle;
}

.about {
  text-align: center;
}

object {
  margin: auto;
}